[submodule "jalas-backend"]
	path = jalas-backend
	url = git@gitlab.com:ysjf/jalas-backend.git
[submodule "jalas-frontend"]
	path = jalas-frontend
	url = git@gitlab.com:farzadhabibi/jalas-frontend.git
